
.main {
  padding: 24px;
  width: 520px;
  background: #023462;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.notificationModal {
    font-family: Nunito;
    width: 520px;
    height: 100vh;
    background: #023462;
    padding: 24px 32px;
    position: relative;
    z-index: 999;
}
.notificationModalTitle {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 38px;
}
.notificationModalTheme {
    font-size: 26px;
    font-weight: 600;
    line-height: 35px;
    color: white;
}
.notificationModalCloseButton {
    margin-left: 110px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.notificationMainCard {
    width: 450px;
    height: 104px;
    margin: 20px 0;
    border-bottom: 2px solid white;
}
.notificationImg {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.notificationMainCardTitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.notificationMainCardTable {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: white;
}
.notificationMainCards {
    max-height: 600px;
    width: 480px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    justify-content: flex-start;
    align-items: start;
}
.notificationNumberOfCard {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: white;
}
.notificationCardOrder .notificationCardOrderList {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 8px 0;
}
.notificationCardOrder .notificationCardOrderList  {
    list-style: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #ffffff;
    margin-right: 6px;
}
.notificationCardOrder .notificationCardOrderList span {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #FF8B5B;
}
