* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button {
    cursor: pointer;
}
.allOrderMain {
    display: flex;
    width: 100%;
    background: #F3F5F7;
}
.allOrders {
    width: 100%;
    flex-grow: 0;
    flex-basis: 100%;
}
.main {
  background-color: #f3f5f7;
  position: relative;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  /*width: calc(100vw - 117px);*/
  background: #ff8b5b;
  color: #fefefe;
  text-align: center;
  font-family: Nunito;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 25px;
}

.cardDiv {
  max-height: 490px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  justify-content: flex-start;
}


.cardButton {
  width: 421px;
  height: 63px;
  border-radius: 50px;
  background: #ff8b5b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  outline: none;
  border: none;
  position: fixed;
  bottom: 32px;
  right: 52px;
  z-index: 1;
}
.cardButton p {
  color: #fff;
  font-family: Nunito;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

